################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Kubernates/api_ec2/hello-world-ec2/.vs
