<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/3843a206-dd7e-41fb-81a8-5d6533c0cd6e/resourceGroups/ContainerCompute/providers/Microsoft.ContainerRegistry/registries/conregistry7383</ResourceId>
    <ResourceName>conregistry7383</ResourceName>
    <ResourceGroup>ContainerCompute</ResourceGroup>
    <Subscription>AZ-204-Recycling-lod49568003</Subscription>
    <RegistryUrl>https://conregistry7383.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <_TargetId>AzureConsoleContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>