<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/a57df68e-a26a-4473-91d2-97aff58ce4ea/resourceGroups/Archlod52224722/providers/Microsoft.ContainerRegistry/registries/acr52224722</ResourceId>
    <ResourceName>acr52224722</ResourceName>
    <ResourceGroup>Archlod52224722</ResourceGroup>
    <Subscription>Challenge Labs 04</Subscription>
    <RegistryUrl>https://acr52224722.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>0ad0fb8f-1a8c-4060-a8f2-3561bc2d729b</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>