<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/0d848b05-01e6-434f-a564-dca605be13d0/resourceGroups/ContainerCompute/providers/Microsoft.ContainerRegistry/registries/containerregis2345</ResourceId>
    <ResourceName>containerregis2345</ResourceName>
    <ResourceGroup>ContainerCompute</ResourceGroup>
    <Subscription>AZ-204-Recycling-lod49567947</Subscription>
    <RegistryUrl>https://containerregis2345.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>0ad0fb8f-1a8c-4060-a8f2-3561bc2d729b</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>